@define-color rosewater #dc8a78;
@define-color flamingo #dd7878;
@define-color pink #ea76cb;
@define-color mauve #8839ef;
@define-color red #d20f39;
@define-color maroon #e64553;
@define-color peach #fe640b;
@define-color yellow #df8e1d;
@define-color green #40a02b;
@define-color teal #179299;
@define-color sky #04a5e5;
@define-color sapphire #209fb5;
@define-color blue #1e66f5;
@define-color lavender #7287fd;
@define-color text #4c4f69;
@define-color subtext1 #5c5f77;
@define-color subtext0 #6c6f85;
@define-color overlay2 #7c7f93;
@define-color overlay1 #8c8fa1;
@define-color overlay0 #9ca0b0;
@define-color surface3 #3d4047;
@define-color surface2 #acb0be;
@define-color surface1 #bcc0cc;
@define-color surface0 #ccd0da;
@define-color base #eff1f5;
@define-color mantle #e6e9ef;
@define-color crust #00aae8;

* {
    /* reference the color by using @color-name */
    color: @text;
    font-size:20px;
}

#waybar {
    /* you can also GTK3 CSS functions! */
    background-color: rgba(0,0,0,0.3);
    border-style:solid;
    border-width:0.2rem;
    border-radius:1.3rem;
    border-color:alpha(@crust, 1);
    font-weight:bold;
}

#workspaces {
border-radius: 1rem;
margin: 5px;
background-color: @surface0;
margin-left: 1rem;
}

#workspaces button {
color: @lavender;
border-radius: 1rem;
padding: 0.7rem;
}

#workspaces button.active {
border-radius: 1rem;
background-color: #aaaaaa;
}

#workspaces button:hover {
color: @sapphire;
background-color:@surface2;
border-radius: 1rem;
}

#custom-musicdisplay,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-fileManager,
#custom-WallPaper{
background-color: @surface0;
padding: 0.5rem 1rem;
margin: 5px 0;
}

#custom-fileManager{
  font-size:32px;
  border-radius: 1rem 0rem 0rem 1rem;
}

#custom-WallPaper{
  border-radius:0px 1rem 1rem 0px;
}


#custom-launcher{
  font-size:17px;
  background-image: url('/home/susamogus/Pictures/archlinux.svg');
  background-size:110px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}


#custom-musicprev,
#custom-musicpause,
#custom-musicnext{
background-color: @surface0;
padding: 0.2rem 0.3rem;
margin: 1px 0;
}


#clock {
color: @blue;
border-radius: 0px 1rem 1rem 0px;
margin-right: 1rem;
}


#backlight {
color: @yellow;
}

#backlight, #battery {
border-radius: 0;
}

#pulseaudio {
color: @maroon;
border-radius: 1rem 0px 0px 1rem;
margin-left: 1rem;
}

#custom-musicdisplay {
color: @mauve;
border-radius: 1rem;
}

#custom-musicprev{
color: @mauve;
border-radius: 1rem 0px 0px 1rem;
}

#custom-musicpause{
color: @mauve;
border-radius: 0px;
}

#custom-musicnext {
color: @mauve;
border-radius: 0px 1rem 1rem 0px;
}

#custom-lock {
border-radius: 1rem 0px 0px 1rem;
color: @lavender;
}

#custom-power {
margin-right: 1rem;
border-radius: 0px 1rem 1rem 0px;
color: @red;
}


tooltip {
  color: black;
  background-color: @surface0;
  text-shadow: none;
}


#tray {
margin-right: 1rem;
border-radius: 1rem;
}
